
.search_container {
    padding-top: 2rem;
    max-width: 100vw;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
}

.search_container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.search_container input {
    width: 40rem;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border 0.2s;
}

.search_container input:focus {
    border: 1px solid #007bff;
}

.search_btn {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.search_btn:hover {
    background-color: #0056b3;
}

.search_btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
